@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}
:root{
    --color-primary:#3563E9;
    --color-secondary:#90a3bf;
    --color-tertiary:#596780;
    --color-white: #ffffff; 
    --color-black: #1a202c;
    --color-gray:#f6f7f9;
    font-family: "Plus Jakarta Sans" 
}

/* header */
 .container-navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.container-navbar h1{
    font-size: 2.5rem;
    color: var(--color-primary);
    padding-left: 3rem;
    font-weight: 800;
}

.search-container {
    position: relative; 
    /* width: 100%;
    max-width: 300px; 
    margin-right: 20rem; */
}

.search-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem; 
    height: 1.5rem; 
}

.left-icon {
    left: 0.5rem; }

.right-icon {
    right: 0.5rem; }

.search-container input {
    width: 100%;
    padding: 0.7rem 6rem; 
    padding-left: 3rem; 
    padding-right: 3rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.nav-icons {
    display: flex;
    gap: 0.5rem;
}

.items-nav{
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    /* width: 5rem;
    height: 2rem; */
    padding: 0.5rem;
}

.items-nav img {
    width: 5rem;
    height: 2rem;
}

#profil {
    width: 3rem;
    height: 3rem; 
}

.hamburger {
    display: none;
    cursor: pointer;
    right: 18px;
    padding: 18px;
   
}

.bar{
    display: block;
    width:25px ;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-secondary);
    opacity: 0.8;


}


.hamburger-menu img {
    display: block;
    margin-top: 8px;
}



.nav-heart {
    position: relative;
    display: inline-block;
}

.heart-icon-navbar {
    width: 40px; 
    height: 40px;
}

.heart-badge {
    position: absolute;
    top: -9px;  
    right: -1px; 
    background-color: red; 
    color: white; 
    padding: 3px 6px; 
    border-radius: 50%; 
    font-size: 1rem; 
    font-weight: 500; 
    line-height: 1;
}

/* container-main */

.container-main{
    display: flex;
}

/* aside */
.aside{
    flex-direction: column;
    width: 20%;
    padding: 1.5rem;
}

.container-aside {
    flex-direction: column;
    margin-bottom: 3rem;
}

.container-aside h4{
    font-size:0.9rem ;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.rounded-label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-tertiary);
    text-align: start;
    cursor: pointer;
}

.rounded-label samp{
    color: var(--color-secondary);
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 0.75rem;
    background: #d3d3d3; 
    border-radius: 1rem; 
    outline: none; 
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background: linear-gradient(90deg, #4285f4 50%, #a6a6a6 50%); 
    border-radius: 1rem; 
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem; 
    height: 1.2rem; 
    border-radius: 50%; 
    background: #4285f4; 
    cursor: pointer;
    margin-top: -3px; 
}

/* content */

#main{
    background-color: var(--color-gray);
    width: 80%;
    padding: 1.5rem;
    /* flex-direction: column; */
    
    
}

.container-options{
    
    align-items: center;
    justify-content: center; 
    /* padding: 2rem; */
    display: flex;

}  

.container-options img{
    /* display: block; */
      padding: 1.5rem; 
    
}
.selections{
    display: flex; 
    gap: 0rem;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.option{
    background-color: var(--color-white);
    border-radius: 0.8rem;
    padding: 1.2rem;
    /* max-width: 50%; */
    
}

.radio-style input{
    margin-bottom: 1rem;
}

.selection-container {
    display: flex; 
    justify-content: space-between; 
}

.selection-container label {
    font-size: 0.9rem;
    color: var(--color-black);
    font-weight: 800;
    display: block;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.select{
   
    
}
.custom-select {
    position: relative; 
    display: inline-block;
    width: auto; 
}

.custom-select select {
    font-size: 0.8rem;
    border: none; 
    color:var(--color-secondary); 
    outline: none;
    cursor: pointer;
    padding-right: 1.2rem;

}

.custom-select::after {
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}
/* #date {
    border-left:solid;
    border-right:solid ;
    border-width: 0.1rem;
    height: 3rem;
    
} */

.container-cars{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: space-between;
    padding-top: 3rem;

}

.car{
    background-color:var(--color-white) ;
    padding: 0rem;
    border-radius: 2rem;
    border: 1px solid #ddd;
    width: 32%;
    display: flex;
    flex-direction: column;
    height: 30rem;
    text-align: center;
}

.heart-icon {
    cursor: pointer;
}

.nom-car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.Nom{

}
.nom-car h3{
    font-size: 2rem;
}
.nom-car h4{
    font-size: 1rem;
    color: var(--color-secondary);
}

.cars{
    padding: 1rem;
    place-items: center;
    margin: auto;
}

.info-car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.detail-car{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

}
.detail-car h5{
    color: var(--color-secondary);
}

.cost-car{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;

}

.cost-car button{
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1rem;

}
.cost-car h4{
    font-size: 1.2rem;
}
.cost-car samp{
    color: var(--color-secondary);
}
.cost-car br{
    color: var(--color-secondary);
}


/* Footer */

.container-footer{
   
}
.navbar-footer{
    display: flex;
    /* justify-content: center; */
    /* gap: ; */
    padding: 2rem;
    justify-content: space-between;
}
.logo-footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.logo-footer h3{
    font-size:1.5rem ;
    color: var(--color-primary);
    font-weight: 800;
}
.logo-footer p{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-secondary);
    width: 60%;
}
.content-nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 5rem;
    padding: 0 2rem;
}
.nav-footer{
    flex-direction: column;
    gap: 1.5rem;
    display: flex;
}
.nav-footer p{
    color: var(--color-secondary);
    font-size: 0.9rem;
    font-weight: 500;
}
.nav-footer h4{
    
    font-size: 1.1rem;
    font-weight: 700;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem ;
}
    
.privacy{
    display: flex;
    gap: 2rem;
    
}   
.footer-footer h5{
    font-size: 0.9rem;
}



@media (max-width: 768px)   {
   .container-navbar{
    /* display: flex; */
    flex-direction: column-reverse;
    gap: 01rem;
    align-items: flex-start;
    max-width: 50%;

   }
   .container-navbar h1{
    padding: 0;
   }
   .nav-hamburger{
    display: flex;
    /* display: block; */
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40rem;
   }
   .search-container input{
    border-radius: 0.5rem;
    max-width: 40%;

   }
   .search-container {

   }
   .search-container img{
    /* position: static; */
    align-items: center;
    display: flex;
    justify-content: center;
   }

   .right-icon{
    border: 1.5px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* position: static; */

   }



    .items-nav{
        display: none;
    }

    #profil{
        display: block;
    }


    .hamburger-menu {
        display: block;
    }
};
    